.theCenter {

	margin-top: auto;
	margin-bottom: auto;
}

/*.imgCenter { border: #999;
	margin-right: 12.5% ;
	margin-left: 12.5% ;
}*/

.bttlbox {
	border-style: solid;
	border-width: 5px;

}

.girl1 {
	width:430px;
	height:530px;
}